@model IList<assignment2.Models.PersonModel>

@{
    ViewData["Title"] = "Rookie Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome ! This is the Rookie List</h1>
  <div class="text-start mt=2 mb=4">
    <a class="btn btn-success btn-sm" href="#" role="button">Create New Person</a>
  </div>
  <table class="table table-dark table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Birth Place</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (int i = 0; i < Model.Count(); i ++) {
        var person = Model[i];
        <tr>
          <th scope="row">@(i + 1)</th>
          <td>@person.FirstName</td>
          <td>@person.LastName</td>
          <td>@person.DateOfBirth.ToString("dd/MM/yyyy")</td>
          <td>@person.Gender</td>
          <td>@person.BirthPlace</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" href="#" role="button">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" href="#" role="button">Delete</button>
          </td>
        </tr>
      }
    @* @foreach (var d in Model)
        {
            <tr>
                <td></td>
                <td>@d.FirstName</td>
                <td>@d.LastName</td>
                <td>@d.DateOfBirth</td>
                <td>@d.Gender</td>
                <td>@d.BirthPlace</td>
            </tr>
        } *@
  </tbody>
</table>
</div>
